.logout-button {
    color: #303150;
    font-family: 'roboto';
    font-size: 12px;
    border: none;
    border-radius: 12px;
    background-color: #f8fafc;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 32px;
    padding-left: 32px;
  }
  